@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html {
  --line-color: #f9f7f7;
  --card: #ffffff;
  --card-foreground: #1c2024;
}

html.dark {
  --line-color: #212332;
  --card: #112d4e;
  --card-foreground: #f9f7f7;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remove-arrow {
  -moz-appearance: textfield;
}
