@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html {
  --line-color: #f9f7f7;
  --card: #ffffff;
  --card-foreground: #1c2024;
  --card-hover: #e0e0e0;
}

html.dark {
  --line-color: #212332;
  --card: #112d4e;
  --card-foreground: #f9f7f7;
  --card-hover: #0c243f;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remove-arrow {
  -moz-appearance: textfield;
}

@layer utilities {
  .tableTab {
    @apply text-base font-bold cursor-pointer;
  }
  .tableTabActive {
    @apply data-[state=active]:text-base data-[state=active]:font-bold cursor-pointer data-[state=active]:border-b-2 data-[state=active]:border-blue-500;
  }
}
