@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html {
  --line-color: #f9f7f7;
  --theme: #ffffff;
  --theme-foreground: #1c2024;
  --theme-hover: #e0e0e0;
  --theme-text: #3f72af;
  --theme-component: #112d4e;
  --theme-logo: #465685;
}

html.dark {
  --line-color: #212332;
  --theme: #112d4e;
  --theme-foreground: #f9f7f7;
  --theme-hover: #0c243f;
  --theme-text: #4698d0;
  --theme-component: #3f72af;
  --theme-logo: #ffffff;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remove-arrow {
  -moz-appearance: textfield;
}
